h1
{
font-family: "Pacifico";
font-size: 50px;
background-color: #696996;
color: #e6e6e6;
text-shadow: 10px, #34344b;
}
body
{
	background-color: #e1e1ea;
}



.listselect .ui-selected
{
	background-color: #ffd9b3;
	border: 2px #F0F8FF;
}
.Wrapper
{
	text-align: center;
	display: grid;
	margin: auto;
	grid-template-columns: 25% 25% 25% 25%;
	font-family: "Lato";
	font-size: 22px;


}




#ButtonHolder
{
	text-align: center;
	
}